.no-js #mobile-menu__toggler {
  display: none;
}
.no-js .aw-header__nav {
  display: block;
}
.no-js .aw-header__logo {
  margin-left: unset;
}
.transition {
  transition: all 0.2s ease-in-out;
}
.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.order-3 {
  order: 3;
}
/* use '@screen lg {...}' with npm version */
@media (min-width: 1024px) {
  .lg\:order-1 {
    order: 1;
  }
  .lg\:order-2 {
    order: 2;
  }
  .lg\:order-3 {
    order: 3;
  }
}

.hero {
  background-color: darkgray;
  background-image: url('../images/hero.jpg');
  height: 85vh;
  background-size: cover;
  background-position: center;
}

.logo {
  width: 64px;
  height: auto;
}

.pricing-table {
  width: 100%;
}
.pricing-table .pricing-option {
  width: 100%;
  background: white;
  float: left;
  padding: 2%;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.pricing-table .pricing-option:hover {
  cursor: pointer;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.3);
  transform: scale(1.04);
}
.pricing-table .pricing-option:hover i,
.pricing-table .pricing-option:hover h1,
.pricing-table .pricing-option:hover span,
.pricing-table .pricing-option:hover b {
  color: #ffa800;
}
.pricing-table .pricing-option:hover .front {
  opacity: 0;
  visibility: hidden;
}
.pricing-table .pricing-option:hover .back {
  opacity: 1 !important;
  visibility: visible !important;
}
.pricing-table .pricing-option:hover .back a.button {
  transform: translateY(0px) !important;
}
.pricing-table .pricing-option hr {
  border: none;
  border-bottom: 1px solid #f0f0f0;
}
.pricing-table .pricing-option i {
  font-size: 3rem;
  color: #d8d8d8;
  transition: all 0.3s ease-in-out;
}
.pricing-table .pricing-option h1 {
  margin: 10px 0;
  color: #212121;
  transition: all 0.3s ease-in-out;
}
.pricing-table .pricing-option p {
  color: #999;
  padding: 0 10px;
  line-height: 1.3;
}
.pricing-table .pricing-option .price {
  position: relative;
}
.pricing-table .pricing-option .price .front span.price {
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 20px;
  display: block;
  font-weight: 700;
  position: relative;
}
.pricing-table .pricing-option .price .front span.price b {
  position: absolute;
  font-size: 1rem;
  margin-left: 2px;
  font-weight: 600;
}
.pricing-table .pricing-option .price .back {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.pricing-table .pricing-option .price .back a.button {
  background: #ffa800;
  padding: 15px 20px;
  display: inline-block;
  text-decoration: none;
  color: white;
  position: absolute;
  font-size: 13px;
  top: -5px;
  left: 0;
  right: 0;
  width: 150px;
  margin: auto;
  text-transform: uppercase;
  transform: translateY(20px);
  transition: all 0.3s ease-in-out;
}
.pricing-table .pricing-option .price .back a.button:hover {
  background: #cc8600;
}
@media screen and (max-width: 600px) {
  .pricing-table .pricing-option {
    padding: 5%;
    width: 90%;
  }
  .pricing-table .pricing-option:nth-child(even) {
    margin: 30px 0 !important;
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    rgba(14, 29, 51, 0.5),
    rgba(14, 29, 51, 0.2)
  );
}
.hero-slider {
  width: 100%;
  height: 570px;
  overflow: hidden;
}

.hero-slider .carousel-cell {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
}

.slide-1 {
  background: url('../images/1-mobile.png');
  background-repeat: no-repeat;
}

.slide-2 {
  background: url('../images/2-mobile.png');
  background-repeat: no-repeat;
}

.slide-3 {
  background: url('../images/3-mobile.png');
  background-repeat: no-repeat;
}

@media screen and (min-width: 500px) {
  .hero-slider {
    width: 100%;
    height: 480px;
    overflow: hidden;
  }

  .hero-slider .carousel-cell {
    width: 100%;
    height: 100%;
    background-size: contain;
  }

  .slide-1 {
    background: url('../images/1-desktop.jpg');
    background-repeat: no-repeat;
  }
  
  .slide-2 {
    background: url('../images/2-desktop.png');
    background-repeat: no-repeat;
  }
  
  .slide-3 {
    background: url('../images/3-desktop.png');
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1280px) {
  .hero-slider {
    width: 100%;
    height: 720px;
    overflow: hidden;
  }
  
  .hero-slider .carousel-cell {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .slide-1 {
    background: url('../images/1-desktop.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
  }
  
  .slide-2 {
    background: url('../images/2-desktop.png');
    background-repeat: no-repeat;
  }
  
  .slide-3 {
    background: url('../images/3-desktop.png');
    background-repeat: no-repeat;
  }
}

.hero-slider .carousel-cell .inner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  text-align: center;
}
.hero-slider .carousel-cell .inner .subtitle {
  font-size: 2.2rem;
  line-height: 1.2em;
  font-weight: 200;
  font-style: italic;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 5px;
}
.hero-slider .carousel-cell .inner .title {
  font-size: 3rem;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 40px;
}
.hero-slider .carousel-cell .inner .btn {
  border: 1px solid #ffa800;
  padding: 14px 18px;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 3px;
  color: #ffa800;
  text-decoration: none;
  transition: all 0.2s ease;
}
.hero-slider .carousel-cell .inner .btn:hover {
  background: #ffa800;
  color: #000;
}
.hero-slider .flickity-prev-next-button {
  width: 80px;
  height: 80px;
  background: transparent;
}
.hero-slider .flickity-prev-next-button:hover {
  background: transparent;
}
.hero-slider .flickity-prev-next-button .arrow {
  fill: white;
}
.hero-slider .flickity-page-dots {
  bottom: 30px;
}
.hero-slider .flickity-page-dots .dot {
  width: 30px;
  height: 4px;
  opacity: 1;
  background: rgba(255, 255, 255, 0.5);
  border: 0 solid white;
  border-radius: 0;
}
.hero-slider .flickity-page-dots .dot.is-selected {
  background: #d4272e;
  border: 0 solid #d4272e;
}

.pricing {
  background: url('../images/hero.jpg');
  background-position: center;
  background-size: cover;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}

.icon::after {
  content: '';
  display: block;
  position: absolute;
  border-top: 23px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 12px solid #3182ce;
  left: 100%;
  top: 0;
}
